<div style="height: 84px;">
  <div class="navbar-container">
    <div class="navbar-content">
      <a id="hello-button" class="element-button" href="">HELLO</a>
      <a id="resume-button" class="element-button" href="">RESUME</a>
      <a id="portfolio-button" class="element-button" href="">PORTFOLIO</a>
      <a id="contact-button" class="element-button" href="">CONTACT</a>
    </div>
  </div>
</div>

<div class="banner-container">
  <div class="main-container">
    <div class="banner-content">
      <div class="element-1">
        <img src="<%= image_path 'ElenaVigoAvatar.jpg'%>" alt="Elena Vigo" style="width: 180px; height: 180px; border-radius: 50%;">
      </div>
      <div class="element-2">
        <h1 class="my-name" data-aos="fade-left">Hi, my name is Elena!</h1>
        <h3 class="my-job" data-aos="fade-left">Full-Stack Developer</h3>
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <section id="hello">
    <h1 class="section-title">Hello</h1>
    <div class="hello-box">
      <p>This was not planned. I studied International Business and I worked in Digital Marketing. After awakening my interest for coding in a former position with Python and 6 months of traveling, I made a decision. I decided to transform that interest into a passion by learning through courses and projects.</p>
      <p>I like to get out of my comfort zone and to challenge myself. And to me, coding is creativity, logic and challenge.</p>
      <p>🌏 6 months solo-traveling in Southeast Asia | 🎧 Love music | 🎸 Learning classic guitar | 🐠 Like scubadiving | 🧘🏽‍♀️ Practice meditation</p>
    </div>
  </section>
  <section id="resume">
    <h1 class="section-title">Resume</h1>
    <div class="section-content">
      <div class="education-part">
        <h5 class="part-title">EDUCATION</h5>
        <div class="timeline">
          <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
              <p class="title">HARVARD UNIVERSITY</p>
              <p class="year">2020</p>
              <p class="subject">Introduction to Computer Science Course</p>
            </div>
          </div>
          <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
              <p class="title">CODECADEMY</p>
              <p class="year">2020</p>
              <p class="subject">HTML, CSS, JavaScript, React.js, Ruby and Swift online courses</p>
            </div>
          </div>
          <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
              <p class="title">LE WAGON BOOTCAMP</p>
              <p class="year">2020</p>
              <p class="subject">Full-Stack Web Development Course</p>
            </div>
          </div>
          <div class="timeline-item pb-1" data-aos="fade-left">
            <div class="timeline-content">
              <p class="title">UNIVERSITY OF FLORIDA & POMPEU FABRA UNIVERSITY</p>
              <p class="year">2015 - 2019</p>
              <p class="subject">International Business and Marketing Bachelor</p>
            </div>
          </div>
          <div class="timeline-circle circle-1"></div>
          <div class="timeline-circle circle-2"></div>
          <div class="timeline-circle circle-3"></div>
          <div class="timeline-circle circle-4"></div>
        </div>
      </div>
      <div class="experience-part">
        <h5 class="part-title">EXPERIENCE</h5>
        <div class="timeline">
          <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
              <a href="http://vamosbarcelona.com/"><p class="title">VAMOS VOLUNTEERING &nbsp <i class="fas fa-external-link-alt"></i></p></a>
              <p class="year">2020</p>
              <p class="subject">Full-Stack Web Developer & Co-Founder</p>
            </div>
          </div>
          <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
              <p class="title">ACCENTURE</p>
              <p class="year">2018 - 2019</p>
              <p class="subject">Digital Marketing and CRM Management</p>
            </div>
          </div>
          <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
              <p class="title">N&N CONSULTING</p>
              <p class="year">2017</p>
              <p class="subject">Export consultant</p>
            </div>
          </div>
          <div class="timeline-circle circle-1"></div>
          <div class="timeline-circle circle-2"></div>
          <div class="timeline-circle circle-3"></div>
        </div>
      </div>
      <div class="skills-part">
        <h4 class="part-title"></h4>
        <h6 class="skills-type">LANGUAGES</h6>
        <div class="skills">
            <div class="skill" data-aos="zoom-in" >
              <img src='<%= image_path 'logos/html.png'%>' alt="html-logo">
              <p>HTML</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/css.svg'%>' alt="css-logo">
              <p>CSS</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/javascript.png'%>' alt="javascript-logo">
              <p>JavaScript</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/ruby.png'%>' alt="ruby-logo">
              <p>Ruby</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/c.png'%>' alt="c-logo">
              <p>C</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/python.png'%>' alt="python-logo">
              <p>Python</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/swift.png'%>' alt="swift-logo">
              <p>Swift</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/sql.png'%>' alt="sql-logo">
              <p>SQL</p>
            </div>
          </div>
          <h6 class="skills-type">FRAMEWORKS, LIBRARIES, TOOLS</h6>
          <div class="skills">
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/react.svg'%>' alt="react-logo">
              <p>React</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/rails.png'%>' alt="rails-logo">
              <p>Rails</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/xcode.jpeg'%>' alt="xcode-logo">
              <p>Xcode</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/bootstrap.png'%>' alt="bootstrap-logo">
              <p>Bootstrap</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/postgresql.png'%>' alt="postgresql-logo">
              <p>PostgreSQL</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/git.png'%>' alt="git-logo">
              <p>Git</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/github.png'%>' alt="github-logo">
              <p>GitHub</p>
            </div>

            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/heroku.png'%>' alt="heroku-logo">
              <p>Heroku</p>
            </div>
            <div class="skill" data-aos="zoom-in">
              <img src='<%= image_path 'logos/figma.png'%>' alt="figma-logo">
              <p>Figma</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id="portfolio">
    <h1 class="section-title">Portfolio</h1>
    <div class="section-content">
      <div class="project vamos-project" data-aos="fade-up">
        <div class="project-images">
          <div class="project-picture">
            <img src="<%= image_path 'projects/vamos-picture'%>" alt="vamos-picture">
            <div class="project-logo">
              <img src='<%= image_path 'projects/vamos-logo.png'%>' alt="vamos-logo">
            </div>
          </div>
          <div class="project-links">
            <a href="https://www.vamosbarcelona.com" target="_blank">
              <div class="project-link project-link1">CHECK WEBSITE</div>
            </a>
            <a href="https://github.com/elenavigo/vamos" target="_blank">
              <div class="project-link project-link2">CHECK CODE</div>
            </a>
          </div>
        </div>
        <div class="project-text">
          <h5>VAMOS BARCELONA</h5>
          <p>4 friends, 1 idea and 2 months of quarantine. Responsive web application focused on getting young people involved in local projects.</p>
          <div class="skills-used">
            <div class="skill">
              HTML
            </div>
            <div class="skill">
              CSS
            </div>
            <div class="skill">
              JavaScript
            </div>
            <div class="skill">
              Ruby
            </div>
            <div class="skill">
              Rails
            </div>
          </div>
        </div>
      </div>
      <div class="project garden-project" data-aos="fade-up">
        <div class="project-images">
          <div class="project-picture">
            <img src="<%= image_path 'projects/garden-picture.jpg'%>" alt="garden-picture">
            <div class="project-logo">
              <img src='<%= image_path 'projects/garden-logo.png'%>' alt="garden-logo">
            </div>
          </div>
          <div class="project-links">
            <a href="http://get-your-garden.herokuapp.com/" target="_blank">
              <div class="project-link project-link1">CHECK WEBSITE</div>
            </a>
            <a href="https://github.com/elenavigo/get-your-garden" target="_blank">
              <div class="project-link project-link2">CHECK CODE</div>
            </a>
          </div>
        </div>
        <div class="project-text">
          <h5>GET YOUR GARDEN</h5>
          <p>"Book gardens around you with friends or family" For demo purposes, the location of the available gardens is in Sidney, AUS.</p>
          <div class="skills-used">
            <div class="skill">
              HTML
            </div>
            <div class="skill">
              CSS
            </div>
            <div class="skill">
              JavaScript
            </div>
            <div class="skill">
              Ruby
            </div>
            <div class="skill">
              Rails
            </div>
          </div>
        </div>
      </div>
      <div class="project todolist-project" data-aos="fade-up">
        <div class="project-images">
          <div class="project-picture">
            <img src="<%= image_path 'projects/todolist-picture'%>" alt="todolist-picture">
            <div class="project-handmade-logo">
              TO DO
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/elenavigo/notes" target="_blank">
              <div class="project-link project-link3">CHECK CODE</div>
            </a>
          </div>
        </div>
        <div class="project-text">
          <h5>TO-DO LIST</h5>
          <p>iOS Application that lets you manage and keep track of daily tasks.</p>
          <div class="skills-used">
            <div class="skill">
              Swift
            </div>
            <div class="skill">
              Xcode
            </div>
            <div class="skill">
              iOS
            </div>
          </div>
        </div>
      </div>
      <div class="project flats-project" data-aos="fade-up">
        <div class="project-images">
          <div class="project-picture">
            <img src="<%= image_path 'projects/flats-picture'%>" alt="flats-picture">
            <div class="project-handmade-logo">
              FLATS
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/elenavigo/react-flats" target="_blank">
              <div class="project-link project-link3">CHECK CODE</div>
            </a>
          </div>
        </div>
        <div class="project-text">
          <h5>FLATS MAP</h5>
          <p>Single-page application that lets you select a flat and locate the address on a Google Maps map.</p>
          <div class="skills-used">
            <div class="skill">
              React
            </div>
            <div class="skill">
              Redux
            </div>
            <div class="skill">
              HTML
            </div>
            <div class="skill">
              CSS
            </div>
            <div class="skill">
              JavaScript
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
<section id="contact-me">
  <div class="main-container">
    <h1 class="section-title">Let's get in touch!</h1>
    <div class="section-content">
      <div class="contact-options">
        <div data-aos="fade-left">
          <a href="mailto:elenavigoolivan@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        </div>
        <div data-aos="fade-up">
          <a href="https://www.linkedin.com/in/evigo/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div data-aos="fade-right">
          <a href="https://github.com/elenavigo" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
